apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-iqzobbux
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-iqzobbux:9a63334fa882397d834ae2563279e74e9941d3fd@sha256:f70d25618866c4c116bb7178dea26d9bd1e264f1721c80aa7f2ca7e8f8fcc715
          name: container-image
