apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-iqzobbux
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-iqzobbux:afe8b20009d2ae6c250a9d785327a824d5dcfe7a@sha256:1076332026baee2f4ec2bb85ef877e32cffd26a7592d377be87c2d2a69998b2d
          name: container-image
